.places {
  box-sizing: border-box;
  margin: 64px 0 66px;
}

@media screen and (min-width: 720px) {
  .places {
    margin: 88px 24px 90px;
  }
}

@media screen and (min-width: 910px) {
  .places {
    margin: 92px 48px;
  }
}

@media screen and (min-width: 1200px) {
  .places {
    margin: 92px 148px;
  }
}