.place__image {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .place__image {
    width: calc((100% - 28px) * 0.49)
  }
}

@media screen and (min-width: 945px) {
  .place__image {
    width: calc((100% - 32px) * 0.49)
  }
}