.place__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

@media screen and (min-width: 720px) {
  .place__content {
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
    margin: 0 24px;
  }
}

@media screen and (min-width: 910px) {
  .place__content {
    margin: 0 48px;
  }
}