.place__text {
  box-sizing: border-box;
  margin: 0 16px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
}

@media screen and (min-width: 720px) {
  .place__text {
    margin: 0;
    width: calc((100% - 28px) * 0.51)
  }
}

@media screen and (min-width: 910px) {
  .place__text {
    font-size: 18px;
    width: calc((100% - 32px) * 0.51)
  }
}

@media screen and (min-width: 1100px) {
  .place__text {
    font-size: 18px;
    width: calc((100% - 40px) * 0.51)
  }
}