.footer__copyright {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
}

@media screen and (min-width: 720px) {
  .footer__copyright {
    line-height: 1.14;
  }
  
}