.intro {
  box-sizing: border-box;
  margin: 64px calc(10px + 1.8%);
  color: #fff;
}

@media screen and (min-width: 768px) {
  .intro {
    margin: 88px calc(10px + 1.8%);
  }
}

@media screen and (min-width: 945px) {
  .intro {
    margin: 92px auto 92px 48px;
    width: 690px;
  }
}