.intro {
  box-sizing: border-box;
  margin: 64px 16px;
  color: #fff;
}

@media screen and (min-width: 720px) {
  .intro {
    margin: 88px 24px;
  }
}

@media screen and (min-width: 910px) {
  .intro {
    margin: 92px auto 92px 48px;
    width: 690px;
  }
}

@media screen and (min-width: 1200px) {
  .intro {
    margin-left: 148px;
  }
}