.intro {
  box-sizing: border-box;
  margin: 64px 16px;
  color: #fff;
}

@media screen and (min-width: 720px) {
  .intro {
    margin: 88px 3.1vw;
  }
}

@media screen and (min-width: 945px) {
  .intro {
    margin: 92px auto 92px 48px;
    width: 690px;
  }
}