.lead__subtitle {
  box-sizing: border-box;
  max-width: 288px;
  margin: 16px auto 40px;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  text-align: center;
}

@media screen and (min-width: 715px) {
  .lead__subtitle {
    max-width: 640px;
    font-size: 30px;
    line-height: 1.2;
  }
  
}