.place {
  box-sizing: border-box;
  margin: 0 0 50px;
  color: #fff;
}

@media screen and (min-width: 720px) {
  .place {
    margin: 0 0 73px;
  }
}

@media screen and (min-width: 910px) {
  .place {
    margin: 0 0 80px;
  }
}