.place__header {
  box-sizing: border-box;
  margin: 0 calc(10px + 1.8%) 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

@media screen and (min-width: 594px) {
  .place__header {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0;
    margin: 0 calc(10px + 1.8%) 48px;
  }
}

@media screen and (min-width: 945px) {
  .place__header {
    margin: 0 calc(10px + 1.8%) 48px;
  }
}

@media screen and (min-width: 1280px) {
  .place__header {
    margin: 0 calc(10px + 1.8%) 48px;
  }
}